.card-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-right: 0;
  padding: 5px;
  width: 30%;
  background-color: #f8efb6;
  cursor: pointer;
  border-radius: 15px;
}
.description-card{
  display: none;
}
.card-item.active{ 
  height: 500px;

}
.description-card.active{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  width: 80%;
  height: 200px;
  background-color: aliceblue;
}
.description-card h5{
  font-size: 20px;
  
}
.description-card span{
  color:blue;
}
.description-card p{
  font-size: 15px;
  font-weight: 600;
}
.description-card h6{
  color: blueviolet;
  font-size: 15px;
}



.card-item img {
  width: 200px;
  border-radius: 100px;
}
.card-item h1{
  text-align: center;
}
.card-item h2 {
  font-size: 25px;
  padding: 10px;
  text-align: center;
  color: red;
}
.card-item p {
  text-align: center;
  font-weight: 600;
}




@media screen and (max-width: 895px) {
  .card-item {
    width: 45%;
  }
}

@media screen and (max-width: 710px) {
  .card-item {
    width: 100%;
  }
}

@media screen and (max-width: 395px) {
  .card-item {
    width: 100%;
  }
}
