.item-menu {
  list-style: none;
  padding: 0px 20px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.item-menu:hover {
  color: #9dcf52;
}
.item-menu.active {
  margin-bottom: 15px;
}
